@model ReturnViewModel
@{
    ViewData["Title"] = "Monoalphabetic CipherHome Page";
}

<h1>@ViewData["title"]</h1>

<a class="btn btn-primary" asp-controller="MonoalphabeticCipher" asp-action="Encryption">Encryption</a>
<a class="btn btn-primary" asp-controller="MonoalphabeticCipher" asp-action="Decryption">Decryption</a>
